p{
    color: #0c120c;
    font-size: 20px;
    text-align: start;
}
h1{
    text-align: start;
    font-size: 30px;
    color: #c20114;
}
h2{
    text-align: start;
    font-size: 30px;
    color: #c20114;
}
body{
    background-color:#c7d6d5
}
table{
    color: #c20114;
}