p{
    color: #0c120c;
    font-size: 20px;
    text-align: start;
}
h1{
    text-align: center;
    font-size: 30px;
    color: #c20114;
}
h2{
    text-align: start;
    font-size: 30px;
    color: #c20114;
}
body{
    background-color:black
}
table{
    color: #c20114;
}
header{
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px red;
    padding: 50px;
    text-align: center;
}
a{
    justify-content: center;
    
}
.SOBRE {
     text-align: center;
    font-size: medium;   
}
.COISAS{
    text-align: center;
    font-size: medium;
}

table{
    padding: 100px;
    font-size: 55px;
    background-color: whitesmoke;
    box-shadow:15px 15px 10px red;
    text-align: center;
    margin: none 0px;
  
}
td{
    padding: 13px;
    font-size: 25px;
}
tr{
    padding: 25px;
    font-size: 25px; 
}